.theme-toggle {
  background-color: var(--nui-bg-secondary);
  border: 1px solid var(--nui-border-primary);
  color: var(--nui-text-primary);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--nui-color-primary);
    background-color: var(--nui-color-primary-alpha-10);
  }

  i {
    font-size: 1.125rem;
  }
}
