@use '../mixins' as global;
@use '../mixins-base' as base;
@use '../variables/button-vars' as vars;

@mixin nui-button-styles {
  .nui-btn {
    display: inline-flex;
    gap: var(--nui-button-gap);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: var(--nui-button-font-weight);
    font-family: var(--nui-font-family);
    text-decoration: none !important;
    border-width: var(--nui-button-border-width);
    border-style: solid;
    transition: var(--nui-button-transition);
    vertical-align: middle;
    isolation: isolate;

    $colors: primary, secondary, success, info, warning, danger, accent;
    $variants: solid, outline, ghost;

    @each $color in $colors {
      &--#{$color} {
        @include button-theme($color, 'solid');

        @each $variant in $variants {
          &.nui-btn--#{$variant} {
            @include button-theme($color, $variant);
          }
        }
      }
    }

    @include global.focus-ring;

    &:disabled,
    &.nui-btn--disabled {
      @include global.disabled;
    }

    $sizes: xs, s, sm, md, lg, xl;
    @each $size in $sizes {
      &.nui-btn--#{$size} {
        @include base.component-size($size);
        border-radius: var(--nui-button-radius-#{$size});

        i {
          font-size: var(--nui-font-size-#{$size});
        }
      }
    }

    background-color: var(--button-bg);
    color: var(--button-text);
    border-color: var(--button-border);

    &:hover:not(:disabled) {
      background-color: var(--button-hover-bg);
      color: var(--button-hover-text);
      border-color: var(--button-hover-border);
    }

    &:active:not(:disabled) {
      background-color: var(--button-active-bg);
      border-color: var(--button-active-border);
    }

    &--full {
      width: 100%;
    }
    &--fit {
      width: fit-content;
    }

    &--icon {
      padding: 0 !important;
      gap: 0;

      @each $size in $sizes {
        &.nui-btn--#{$size} {
          width: var(--nui-height-#{$size});
          min-width: var(--nui-height-#{$size});
        }
      }
    }

    &--loading {
      position: relative;
      pointer-events: none !important;
    }

    i,
    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      line-height: 1;
      vertical-align: middle;
    }

    &__spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      height: 1em;
      line-height: 0;
      font-size: 1em;
      pointer-events: none;
      position: relative;

      &--center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0.125em solid currentColor;
        border-radius: 50%;
        border-right-color: transparent;
        animation: nui-spin var(--nui-button-spin-duration) linear infinite;
        box-sizing: border-box;
        transform-origin: center center;
        will-change: transform;
      }
    }

    &:has(.nui-btn__content--empty) {
      gap: 0;
    }

    &__content {
      display: inline-flex;
      align-items: center;
      line-height: 1.5;

      &--hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

@mixin button-theme($color, $variant: 'solid') {
  --button-bg: var(--nui-button-#{$color}-#{$variant}-bg);
  --button-text: var(--nui-button-#{$color}-#{$variant}-text);
  --button-border: var(--nui-button-#{$color}-#{$variant}-border);
  --button-hover-bg: var(--nui-button-#{$color}-#{$variant}-hover-bg);
  --button-hover-text: var(--nui-button-#{$color}-#{$variant}-hover-text);
  --button-hover-border: var(--nui-button-#{$color}-#{$variant}-hover-border);
  --button-active-bg: var(--nui-button-#{$color}-#{$variant}-active-bg);
  --button-active-border: var(--nui-button-#{$color}-#{$variant}-active-border);
}

@keyframes nui-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
