@use "../config";
@use "../mixins";
// NOTA: No importar theme ni theme-config aquí, ya están incluidos globalmente en nui.scss

// Estilos globales para el SlidePanel
.slidepanel-backdrop {
  @include mixins.overlay-backdrop();
}
