<header class="showcase-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Left: Logo + Menu Toggle -->
      <div class="col-auto">
        <button 
          class="btn-menu-toggle" 
          (click)="toggleSidebar()"
          [attr.aria-label]="'Toggle sidebar'">
          <i class="ri-menu-line"></i>
        </button>
        <span class="header-logo">
          <i class="ri-palette-line"></i>
          {{ 'header.title' | translate }}
        </span>
      </div>

      <!-- Right: Controls -->
      <div class="col">
        <div class="header-controls">
          <app-preset-selector></app-preset-selector>
          <app-theme-toggle></app-theme-toggle>
          <app-language-selector></app-language-selector>
          <app-version-selector></app-version-selector>
        </div>
      </div>
    </div>
  </div>
</header>
