// Fuente principal "Inter" - Diseñada específicamente para interfaces UI/UX
@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/InterVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter/InterVariable-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

// Fuente de fallback "OpenSans"
@font-face {
  font-family: "OpenSans";
  src:
    local("OpenSans"),
    url("./fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src:
    local("OpenSans"),
    url("./fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

// Fuente de configuracion "Roboto". Útil para visualizar desde el navegador Chrome y Android.
@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
