@use 'global-tokens';
@use 'variables/button-vars';
@use 'variables/action-menu-vars';
@use 'variables/popover-vars';
@use 'variables/tooltip-vars';
@use 'variables/toast-vars';
@use 'variables/sidebar-panel-vars';

// Inject variables as CSS custom GLOBAL properties
// These "includes" are intended to be used in components that use "ViewEncapsulation.None"
// or that generate HTML outside the Body (overlay, button.component, action-menu.component, etc...)
:root {
  @include button-vars.nui-button-vars;
  @include action-menu-vars.nui-action-menu-vars;
  @include popover-vars.nui-popover-vars;
  @include tooltip-vars.nui-tooltip-vars;
  @include toast-vars.nui-toast-vars;
  @include sidebar-panel-vars.nui-sidebar-panel-vars;
}
