// 1. Logic Layer (Does not generate CSS)
@use 'functions';
@use 'config';
@use 'mixins';
@use 'components-base';

// 2. Tokens Layer (Generates the :root block)
@use 'tokens-index';

// 3. Reset & Base Layer (Generates global CSS)
@use 'reset'; // Reset first to clear default styles
@use 'base'; // Base tag styles (body, a, etc.)
@use 'typography'; // Semantic typography

// 4. Iconography
@use 'icons/remixicon';

// 5. Components Layer
// This is where global classes are injected (.nui-btn, .nui-card, etc.)
@use 'components/components';
