// 1. Config Layer (Defines breakpoints, colors, fonts, etc.)
@use 'config';

// 2. Tokens Layer (Generates the :root block)
@use 'global-vars';

// 3. Reset & Base Layer (Generates global CSS)
@use 'reset'; // Reset first to clear default styles
@use 'base'; // Base tag styles (body, a, etc.)
@use 'typography'; // Semantic typography

// 4. Iconography (Remix Icon https://remixicon.com/)
@use 'icons/remixicon';

// 5. Abstracs styles
@use 'abstracts/functions';
@use 'abstracts/mixins';
@use 'abstracts/mixins-base';
@use 'abstracts/animations';

// 6. Components Layer
// This is where global classes are injected (.nui-btn, .nui-action-button, etc.)
@use 'global-components'