<div class="version-selector">
  <button 
    class="version-trigger"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="toggleDropdown()"
    [attr.aria-label]="'header.version' | translate">
    <i class="ri-git-branch-line"></i>
  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
    (backdropClick)="closeDropdown()">
    <div class="version-dropdown">
      <button
        *ngFor="let version of versions"
        class="version-item"
        [class.active]="version.value === currentVersion"
        (click)="selectVersion(version)">
        <span class="version-label">{{ version.label }}</span>
        <i class="ri-check-line" *ngIf="version.value === currentVersion"></i>
      </button>
    </div>
  </ng-template>
</div>
